# torch==1.5.0
pytorch-lightning==0.8.0rc4
# !pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade
transformers==2.5.1
tokenizers==0.5.2
dotmap
pandas
plotly
tqdm
pyyaml
sklearn
knockknock